<table class="table table-striped">
  <tr>
    <th>Appointments</th>
  </tr>
    <tr>
      <td><b>Type</b></td>
      <td><b>First Name</b></td>
      <td><b>Last Name</b></td>
      <td><b>Date</b></td>
      <td><b>Time</b></td>
      <td><b>Coach</b></td>
    </tr>
   <% @appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.appointment_type %></td>
      <td><%= appointment.client_first_name %></td>
      <td><%= appointment.client_last_name %></td>
      <td><%= appointment.pretty_date %></td>
      <td><%= appointment.start_time %></td>
      <td><%= appointment.coach %></td>
    </tr>
  <% end %>
</table>
