<table class="table table-striped">
  <tr>
    <th>Employees</th>
  </tr>
    <tr>
      <td><b>Name</b></td>
      <td><b>E-mail</b></td>
      <td><b>Humanity ID</b></td>
      <td><b>Slack ID</b></td>
      <td><b>Acuity ID</b></td>
    </tr>
   <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.employee_name %></td>
      <td><%= employee.email %></td>
      <td><%= employee.humanity_id %></td>
      <td><%= employee.slack_id %></td>
      <td><%= employee.acuity_id %></td>
    </tr>
  <% end %>
</table>
