<div class="container-fluid">
    <div class="row form-group">
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
            <h2>Schedulebot</h2>
            <%= button_to "Pull All Employee and Shift Information", {action:"pull_humanity_employees_and_shifts"}, {class: "btn btn-secondary btn-schedulebot w-100"}%>
            <%= button_to "Send Front Desk Schedule in Slack", {action: "send_front_desk_schedules", controller: "slack"}, {class: "btn btn-secondary btn-schedulebot w-100"}%>
            <%= button_to "Send Non-Front Desk Schedule in Slack", {action: "send_non_front_desk_schedules", controller: "slack"}, {class: "btn btn-secondary btn-schedulebot w-100"}%>
            <%= button_to "Send Empty Shifts in Slack", {action: "send_empty_shifts_message", controller: "slack"}, {class: "btn btn-secondary btn-schedulebot w-100"}%>
            <% flash.each do |message_type, message| %>
            <div class="col-12 text-center alert alert-<%= message_type %>" style="margin: 7px; padding-top: .375rem; padding-bottom: .375rem">
                <%= message %>
            </div>
            <% end %>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
            <h2>Shifts</h2>
            <%= link_to "View Next Week's Shifts", {action:"show"}, {class: "btn btn-secondary btn-schedulebot w-100"} %>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
            <h2>Employees</h2>
            <%= link_to "View All Employees", {action: "show", controller: "employees"}, {class: "btn btn-secondary btn-schedulebot w-100"}%>
        </div>
        <!--         <div class="col-sm-12 col-md-6 col-lg-4" style="text-align: center;">
                   <h2>Appointments</h2>
                   <%#= button_to "View Next Week's Appointments", {action: "show_next_seven_days", controller: "acuity"}, method: :get, form_class: "schedulebot_button" %>
                   <%#= button_to "Send Appointment Messages", {action: "send_acuity_appointments", controller: "acuity"}, method: :get, form_class: "schedulebot_button" %>
               </div>
        -->
    </div>
</div>