<style>
.schedulebot_button {
    margin: 7px;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4" style="text-align: center;">
            <h2>Schedulebot</h2>
            <%= button_to "Pull All Employee and Shift Information", {action:"pull_humanity_employees_and_shifts"}, {class: "schedulebot_button"}%>
            <%= button_to "Send Front Desk Schedule in Slack", {action: "send_front_desk_schedules", controller: "slack"}, {class: "schedulebot_button"}%>
            <%= button_to "Send Non-Front Desk Schedule in Slack", {action: "send_non_front_desk_schedules", controller: "slack"}, {class: "schedulebot_button"}%>
            <div class="container">
                <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>">
                    <%= message %>
                </div>
                <% end %>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4" style="text-align: center;">
            <h2>Shifts</h2>
            <%= button_to "View Next Week's Shifts", {action:"show"}, method: :get %>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4" style="text-align: center;">
            <h2>Employees</h2>
            <%= button_to "View All Employees", {action: "show", controller: "employees"}, method: :get%>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4" style="text-align: center;">
            <h2>Appointments</h2>
            <%= button_to "View Next Week's Appointments", {action: "show_next_seven_days", controller: "acuity"}, {class: "schedulebot_button"},method: :get%>
            <%= button_to "View Appointment Messages", {action: "send_acuity_appointments", controller: "acuity"}, {class: "schedulebot_button"},method: :get%>
        </div>
    </div>
</div>