<table class="table table-striped">
  <tr>
    <th>This Week's Shifts</th>
  </tr>
  <tr>
    <td><b>Date</b></td>
    <td><b>Employee Name</b></td>
    <td><b>Shift Type</b></td>
    <td><b>Shift Start Time</b></td>
    <td><b>Shift End Time</b></td>
  </tr>
  <% @shifts.each do |shift| %>
    <tr>
      <td><%= shift.formatted_date %></td>
      <td><%= shift.employee_name %></td>
      <td><%= shift.shift_type %></td>
      <td><%= shift.start_time %></td>
      <td><%= shift.end_time %></td>
    </tr>
  <% end %>
</table>
