<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://southloopsc.com/wp-content/uploads/2020/04/SLSC-Logo-Web-Transparent.png">
    <title>Schedulebot</title>
    <%= csrf_meta_tags %>
    <!-- South Loop Tools Styles -->
    <link rel="stylesheet" href="https://southlooptools.com/dashboards/slscdashboards.css">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap 4 Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id="nav-placeholder"></div>
    <script>
    $.get("https://southlooptools.com/dashboards/nav-menu.html", function(data) {
        $("#nav-placeholder").replaceWith(data);
    });
    </script>
    <div class="mb-4"></div>
    <%= yield %>
  </body>
</html>
